body {
    font-family: 'Times New Roman', Times, serif;
    border-left: 25px rgb(44, 73, 44) solid;
    border-right: 25px rgb(44, 73, 44) solid;
    font-size: 22px;
}

@media (min-width: 1250px) {
    body {
        border-left: 50px rgb(44, 73, 44) solid;
        border-right: 50px rgb(44, 73, 44) solid;
    }
}

.navbar {
    border-bottom: 5px rgb(44, 73, 44) solid;
}

.content {
    width: 100%;
}

.video {
    height: 625px;
}

@media (max-width: 1250px) {
    .video {
        height: 170px;
        width: 300px;
    }
}

.btn {
    background-color: rgb(44, 73, 44);
    color: rgb(255, 255, 255);
}

.btn:hover {
    background-color: rgb(75, 121, 75);
}

.input {
    border: rgb(44, 73, 44) solid;
    border-radius: 10px;
}

.input:focus {
    border-color: rgb(75, 121, 75) solid;
    outline: none;
}

.images {
    float: left;
}

.img {
    width: 300px;
    height: 200px;
}

@media (min-width: 1250px) {
    .img {
        height: 400px;
        width: 475px;
    }
}

.map {
    border: rgb(44, 73, 44) solid;
    border-radius: 20px;
}

.foot-img {
    height: 80%;
    width: 80%;
     border-radius: 20px;
}

@media (min-width: 1250px) {
    .foot-img {
        width: 35%;
        height: 35%;
    }
}